# #############################################################################
# WARNING: THIS IS JUST AN EXAMPLE TEMPLATE!
#
# RECOMMENDATION:
# Use the Taskfile command to generate the actual secret.yaml from your .env:
# task k8s:secrets
# #############################################################################

apiVersion: v1
kind: Secret
metadata:
  name: ticket-system-secrets
  namespace: ticket-system
type: Opaque
data:
  # Critical Credentials (Base64 encoded)
  DB_PASSWORD: ""
  RABBITMQ_PASSWORD: ""
  REDIS_PASSWORD: ""
